.label {
	display: block;
	color: $gray;
	font-size: 1.4rem;
}

.panel-input {
	outline: 0;
	border: 2px solid $light_gray;
	display: block;
	height: 3.5rem;
	padding: 0 0.7rem;
	border-radius: 1rem;

	&::placeholder {
		color: $gray;
	}

	&.error {
		background: #fbf2f2;
		border-color: #f5d5d5;
	}
}

textarea.panel-input {
	resize: none;
	min-height: 15rem;
}

select.panel-input,
input[type="file"] {
	cursor: pointer;
}

.error-message {
	color: $red;
	font-size: 1.3rem;
}
